<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
   <title>Strandkorb Reservierungs-Dashboard</title>
</head>

<body>

    <main layout:fragment="content" th:remove="tag">

    <h2>Strandkorb Reservierungs-Dashboard</h2>

        <a href="/" class="btn btn-secondary">back</a>

        <br/><br/>

        <div class="table-responsive">
	        <table class="table table-hover table-bordered">
	            <thead>
	                <tr >
	                    <th scope="col">First Name</th>
	                    <th scope="col">Last Name</th>
	                    <th scope="col">eMail</th>
	                    <th scope="col">Tel</th>
	                    <th scope="col">Geburtsdatum</th>
                        <th scope="col">Role</th>
                        <th scope="col">JWT Token</th>
                        <th scope="col">IBAN</th>
                        <th scope="col">Matrikelnummer</th>
	                </tr>
	            </thead>
	            <tbody>
	                	<tr th:each ="user : ${users}">
	                	<td> <a th:href="@{/addUser(username=${user.username})}" th:utext="${user.username}"></a> </td>
	                    <td th:utext="${user.fullname}">...</td>
	                    <td th:utext="${user.eMail}">...</td>
	                    <td th:utext="${user.tel}">...</td>
	                    <td th:utext="${user.birthDate}">...</td>
	                    <td th:utext="${user.role}">...</td>
	                    <td th:utext="${user.jwttoken}">...</td>
                        <td th:utext="${user.iban}">...</td>
                        <td th:utext="${user.matrikelnummer}">...</td>
	                </tr>
	            </tbody>
	        </table>
        </div>



        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr >
                    <th scope="col">Strandname</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="beach : ${beach}">
                    <td th:utext="${beach.strandName}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr >
                    <th scope="col">KorbID</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="chairs : ${chairs}">
                    <td th:utext="${chairs.korbId}">...</td>
                    <td th:utext="${chairs.status}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr >
                    <th scope="col">Name</th>
                    <th scope="col">preis</th>
                    <th scope="col">ID</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="service : ${service}">
                    <td th:utext="${service.name}">...</td>
                    <td th:utext="${service.preis}">...</td>
                    <td th:utext="${service.serviceId}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr >
                    <th scope="col">Beginn</th>
                    <th scope="col">Ende</th>
                    <th scope="col">Preis</th>
                    <th scope="col">user</th>
                    <th scope="col">beachChair</th>
                    <th scope="col">service</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="reservation : ${reservation}">
                    <td th:utext="${reservation.beginn}">...</td>
                    <td th:utext="${reservation.ende}">...</td>
                    <td th:utext="${reservation.preis}">...</td>
                    <td th:utext="${reservation.user}">...</td>
                    <td th:utext="${reservation.beachChair}">...</td>
                    <td th:utext="${reservation.bookedService}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr >
                    <th scope="col">Turniername</th>
                    <th scope="col">Beginn</th>
                    <th scope="col">Ende</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="tournament : ${tournament}">
                    <td th:utext="${tournament.name}">...</td>
                    <td th:utext="${tournament.beginn}">...</td>
                    <td th:utext="${tournament.ende}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="alert alert-success" role="alert">
            <span th:text="${authenticated}"></span>
        </div>


    </main>

</body>
</html>
