<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
   <title>Strandkorb Reservierungs-System</title>
</head>

<body>

    <main layout:fragment="content" th:remove="tag">

    <h2>Strandkorb Reservierungs-System</h2>


        <a sec:authorize="isAnonymous()" href="login" class="btn btn-primary">Log In</a>
        <a sec:authorize="isAnonymous()" href="addUser" class="btn btn-primary">create User</a>

        <a sec:authorize="isAuthenticated()" href="reservation" class="btn btn-primary">reserve Beach Chair</a>
        <a sec:authorize="isAuthenticated()" href="/logout" class="btn btn-primary">Logout</a>

        <a href="tournament" class="btn btn-primary">Upcoming Tournaments</a>


        <a href="dashboard" class="btn btn-secondary">Dashboard</a>



    </main>

</body>
</html>
